<!--........................................  FAQ     .......................................-->
<!--.........................................................................................-->


      <div class="container">
		<div class="page-header ">
  			<h1 class="text-center">FAQ <br><small> You have questions,we have answers.</small></h1>
		</div>
<br>

<div class="well well-sm">


  <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Question 1</h3>
          </div>
          <div class="panel-body">
            Answer 1
          </div>
        </div>
      </br>

        <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Queston 2</h3>
  </div>
  <div class="panel-body">
    Answer 2
  </div>
</div>

</br>

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">Queston 3</h3>
</div>
<div class="panel-body">
Answer 3
</div>
</div>

</div>
</div>
