<!--........................................  FAQ     .......................................-->
<!--.........................................................................................-->


      <div class="container">
		<div class="page-header ">
  			<h1 class="text-center">FAQ <br><small> You have questions,we have answers.</small></h1>
		</div>
<br>

<div class="well well-sm">


  <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Will an event still exist after the end date?</h3>
          </div>
          <div class="panel-body">
          After the event end date, it will not be searchable for all registered attendees but only admins can find past event under my events tabs.
          </div>
        </div>
      </br>

        <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Who can rsvp for an event?</h3>
  </div>
  <div class="panel-body">
    That is based on the type of an event whether its public or private, for public events anyone can rsvp for the event but for private events only users invited by the event creator can rsvp for the event.
  </div>
</div>

</br>

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">Can I share an event with members not invited?</h3>
</div>
<div class="panel-body">
If the event type is public, then you can invite more people for the event but  for private events only the admin has access to invite members.
</div>
</div>

</div>
</div>
