<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Ravalic - Free HTML5 Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%=stylesheet_link_tag "application","bootstrap","font-awesome"%>



</head>
<body>

<div class="container-fluid main" id="page-top">
	<div class="row">
		<div class="col-md-12 backg">
			<div class="col-md-4 col-md-offset-4 inner col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
				<div class="text-box">
                	<p class="intro">Introducing</p>
                    <h2>Cevente</h2>
                    <h3>A personal secretary that handles your day to day events</h3>
										<p><%= link_to "Login", new_user_session_path, :class=> "link-button"%><p>

				</div>
  			</div>
		</div>
		<div class="col-md-12 some-notes">
			<div class="title">
                <h2>Welcome To Ravalic</h2>
            </div>
            <div class="desc">
                <p>Ravelic is a free responsive html5 templates released by <a href="http://www.html5templates">HTML5 Layouts</a>. You can use this template for personal as well as commercial purpose but you have to give us a credit link in footer.</p>
            </div>
		</div>
	</div>
</div>


</body>
</html>
