<%- model_class = Rsvp -%>
<<div class="container">
    <div class="row">
  <h1 class="page-header"><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
</div>
<%= render :partial => 'form' %>
