<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome friend,</h1>
    <p>
      You were invited to an event.
    </p>
    <p>
      To attend the event, please click this link: <%= @attend_url %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
