<!-- <div id="locationnew"> -->
<%- model_class = Location -%>
<div class="container">
    <div class="row">
  <h1 class="page-header"><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
</div>
<%= render :partial => 'form' %>
<!-- </div> -->
