
<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Company<span>logo</span></h3>

    <p class="footer-links">
      <a>                        <%= link_to "Home", root_path %></a>
      ·
      <a>        <%= link_to "About", "/about" %></a>
      ·
      <a><%= link_to "Faq", "/faq" %></a>
      ·
      <a><%= link_to "Contact", "/contact" %></a>
    </p>

    <p class="footer-company-name">Cevente &copy; 2015</p>
  </div>

  <div class="footer-center">



    <div>
      <i class="fa fa-phone"></i>
      <p>+1 xxx xxxxxxx</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">support@cevente.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About Cevente</span>
      At Cevente we want you to  <b>never</b> miss any event that can help with your success.
    </p>
    <br>

    <div class="footer-icons">

      <a href="https://www.facebook.com/cevente/"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>

    </div>

  </div>

</footer>
